body {
  margin: 0;
  text-align: center;
  font-family: monospace, cursive;
  font-size: 115%;
  color: #40514E;
}

h1 {
  font-size: 5.025rem;
  width: 80%;
  margin: 70px auto 20px auto;
  font-family: Oooh Baby, cursive;
  font-weight: normal;
  line-height: 2;
  color: #66bfbf;
  z-index: 2;
}

h2 {
  font-size: 2.2rem;
  font-weight: normal;
  color: #66bfbf;
  margin-block-start: 0;
  padding-top: 40px;
}

hr {
  width: 40%;
  margin: auto;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-width: 10px;
}

a {
  color: #11999E;
}

.top-container {
  height: 710px;
  background-color: #D7E9F7;
}

.middle-container {
  background-color: #D1E8E4;
}

.profile {
  padding-bottom: 20px;
}

.profile-pic {
  border: 6px solid #000000;
  border-radius: 50%;
  width: 15%;
  margin-top: 2.0rem;
}

.top-cloud {
  position: relative;
  left: 15%;
  top: 25px;
  animation-name: top-cloud-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes top-cloud-anim {
  50% {
    left: 25%;
  }
}

.middle-cloud {
  position: absolute;
  left: 8%;
  top: 200px;
  z-index: 2;
  animation-name: middle-cloud-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes middle-cloud-anim {
  20% {
    left: -1%;
  }
}

.bottom-cloud {
  position: absolute;
  right: 10%;
  top: 400px;
  animation-name: bottom-cloud-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bottom-cloud-anim {
  70% {
    transform: scale(1.5);
  }
}

.skill-pic {
  width: 45%;
  float: left;
}

.skill-pic2 {
  width: 30%;
  float: right;
}

.skill-row {
  width: 50%;
  margin: 60px auto 100px auto;
  text-align: left;
  font-family: monospace, cursive;
}

.Full-Stack {
  margin-left: 300px;
}

.other-tech {
  margin-right: 300px;
}

.contact-me {
  padding-bottom: 50px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  border-radius: 5px;
  color: white;
  background-color: #4791d0;
  padding: 5px 10px 8px 10px;
  text-decoration: none;
}

.btn:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  text-decoration: none;
}

@keyframes background-color {
  100% {
    background-color: #71c9ce;
    }
}

.bottom-container {
  padding-top: 2.5rem;
  background-color: #D7E9F7;
}

.footer-link {
  margin: 10px;
  text-decoration: none;
}

.linkedin-logo {
  width: 2%;
  height: 2%;
}

.banner {
  border: 6px solid #71c9ce;
  border-radius: 50%;
  width: 10%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.banner:hover {
  opacity: 70%;
  box-shadow: 0 0 200px 100px rgba(0, 140, 186, 0.5);
}

.copywrite {
  color: #EAF6F6;
  padding: 20px 0;
  margin-bottom: 0;
  font-size: 0.95rem;
  text-shadow: 0.5px 0 black, -0.5px 0 black, 0 0.5px black, 0 -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, -0.5px 0.5px black, 0.5px -0.5px black;
}
